#ghost{
    width: 200px;
    animation: spin-scale 2s ease-in-out infinite;
}

@keyframes spin-scale{
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(0.2);
    }

    75% {
        transform: scale(0.95) rotate(0.5turn);
    }

    100%{
        transform: scale(0);
    }
}